black==21.6b0
django==3.2.4
django-cors-headers
django-dotenv==1.4.2
djangorestframework==3.12.4
flake8==3.9.2
isort==5.9.1

# DB
mysqlclient

# linter
pre-commit==2.13.0
psycopg2-binary>=2.8
pytest-django==4.4.0
xmltodict==0.12.0
